body { background: #dfdedb; }

form {
  margin: 0 auto;
  width: fit-content;
  padding: 5px;
  background: #333;
}

label {
  color: #fff;
  font-size: 1.2rem;
}

h1 { text-align: center; }

.field {
  margin: 15px;
}

#btnGetBookData {
  font-size: 1.1rem;
  border: solid 3px #333;
  border-radius: 5px;
  background: #fff;
}
