body { background: #dfdedb }

form {
  margin: 0 auto;
  width: fit-content;
  padding: 5px;
  background: #333;
}

label {
  color: #fff;
  font-size: 1.2rem;
}

h1 { text-align: center }

.field {
  margin: 15px;
}

#btn-submit {
  margin: 0 80px;
  font-size: 1.1rem;
  border: solid 3px #333;
  border-radius: 5px;
  background: #fff;
}

.card {
  width: 80px;
  height: 90px;
  padding: 10px;
  margin-right: 10px;
  color: #fff;
  background: #333;
}

#shelf {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  padding: 20px;
  width: 80%;
  min-height: 200px;
  border-radius: 30px;
  background: #fff;
}
