* {
  margin: 0;
  padding: 0;
}

form {
  margin: 20px auto;
  width: fit-content;
}

.field {
  padding: 5px;
  width: 280px;
  font-size: 1.2rem;
  color: #fff;
  background: #333;
}

.shelf {
  display: flex;
  flex-wrap: wrap;
  min-width: 80%;
  min-height: 200px;
  background: lightgray;
}

.card {
  width: 120px;
  height: 140px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  color: #fff;
  background: #333;
}

.hidden { display: none; }
